[Unit]
Description=Check GitHub for Galactic Map updates

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
